<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>path</param-name>
		<param-value>/home/sabrin-pt4677</param-value>
	</context-param>
	<!-- 
	<servlet>
		<servlet-name>a</servlet-name>
		<servlet-class>DownloadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>a</servlet-name>
		<url-pattern></url-pattern>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	 -->
	

	 
	
	<!-- <context docBase="/home/sabrin-pt4677/eclips-workspace/demo1/Documents/New.txt" path="/demo1/Documents/New.txt"></context> -->
</web-app>